@charset "utf-8";

:root {
	background-image: url(images/root-background-placeholder.jpg)
	}

@font-face {
	font-family: rainyhearts;
	src: url("webfonts/rainyhearts/rainyhearts.ttf")
	}

* {
	box-sizing: border-box;
	}

header, nav {
	border: 0;
	width: 100%;
	}

body {
    font-family: rainyhearts;
    padding: 50px;
    border: 10px #E66FB7;
	}

.container {
    display: grid;
    max-width: 900px;
    height: auto;
    margin: 0px auto;
    padding: 0px;
	border: 3px solid #E66FB7;
	}

div.header-image {
    content: url("images/cat1.png");
    display: inline-flex;
    margin: 0;
    padding: 0;
    height: inherit;
    width: auto;
	}

div.header-img-minimize {
	content: url()
}

header {
    display: inline-flex;
    max-width: auto;
    background-color: #A08FBA;
	height: 30px;
	}

h {
	display: table-cell;
    position: relative;
    font-size: 16pt;
    margin-left: 3px;
    font-weight: bold;
    color: #FFFFFF;
	padding-top: 0%;
	}

nav {
	display: inline-flex;
	max-width: auto;
	background-color: #EFC3E6;
	padding: 0px;
	}

ul {
	display: inline-flex;
	list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
	}

li {
	padding-right: 20pt;
	}

a {
	color: #E66FB7;
    text-decoration-color: #E66FB7;
    text-decoration: none;
	font-size: 16pt;
	}

aside {
	width:150px;
	}
.flex {
	display: flex;
	
	}
