@charset "utf-8";
/* CSS Document */

:root {
	background-image: url(images/root-background-placeholder.jpg)}

/* FONTS */
@font-face {
	font-family: rainyhearts;
	src: url("webfonts/rainyhearts/rainyhearts.ttf")}


/* WHOLE SITE BACKGROUND */
container {
	max-width: 900px;
	height: auto;
	margin: 0px auto;
	padding: 20px;
}

/* GENERAL DISPLAY */
body {
    font-family: rainyhearts;
    padding: 50px;
    border: 10px #E66FB7;
}

content {
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

/* TOP CONTAINER */
header {
	display: flex;
    padding: 0px;
    background-color: #A08FBA;
    border: 3px solid #E66FB7;
    width: 100%;
    height: auto;
    text-align: left;
}

/* HEADER IMAGE TOP LEFT */
div.logo {
    content: url("images/cat1.png");
	display: inline;
	float: left;
	padding-left: 0px;
	height: auto;
	width: 5%;
}
/* PAGE NAME */
h {
    font-size: 17pt;
    margin: 0px;
    display: inline-flex;
    font-weight: bold;
    color: #FFFFFF;
}

/* NAV */
nav {
    position: relative;
	bottom: 0;
    height: auto;
    background-color: #FFE2EE;
    width: 100%;
}
/* NAV LIST */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
	vertical-align: bottom;
}
/* NAV LIST ITEMS */
li {
	display: inline;
}


/* NAVIGATION LINKS */
a {
    color: #E66FB7;
    text-decoration-color: #E66FB7;
    text-decoration: none;
	font-size: 17pt;
	padding-right: 2%;
}
/* NAV LINKS FIRST LETTER */
a ::first-letter {
    text-decoration: underline;
}
