@charset "utf-8";
/* CSS Document */

:root {
	background-image: url(images/root-background-placeholder.jpg)
}


@font-face {
	font-family: rainyhearts;
	src: url("webfonts/rainyhearts/rainyhearts.ttf")
}

@font-face {
	font-family: rainyhearts;
	src: url(/webfonts/rainyhearts/rainyhearts.ttf) format("tff");
	font-style: normal;
}


div {
	
}

#container {
	width: 100%;
	heaight: auto;
	margin: 0px;
}


#header {
	display: flex;
	height: 30px;
	background-color: #A08FBA;
	border: 10px outset #A08FBA;
}

#navbar {
	height: 30px;
	width: 100%;
}
#navbarul {
}

#body {
	font-family: rainyhearts;
	background-color: #EFC3E6;
	padding: 20px;
}


